<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Todo App</title>
  </head>
  <body>
    <header>
      <h1>Todo App</h1>
    </header>
    <main class="flexbox" id="app">
      <div class="input">
        <input
          type="text"
          placeholder="Just do it!"
          class="description"
          v-model="newTodo"
          @keyup.enter="saveTodos"
        />
        <button class="add" @click="saveTodos">Add</button>
      </div>
      <div class="flexbox filter-items">
        <h2>Filter & Options</h2>
        <ul class="radio">
          <li>
            <input
              type="radio"
              class="round"
              id="all"
              name="filter"
              value="all"
              @click="doneTodos"
            />
            <label for="all">All</label>
          </li>
          <li>
            <input
              type="radio"
              class="round"
              name="filter"
              id="open"
              value="open"
              @click="filterOpen"
            />
            <label for="open">Open</label>
          </li>
          <li>
            <input
              type="radio"
              class="round"
              name="filter"
              id="done"
              value="done"
              @click="filterDone"
            />
            <label for="done">Done</label>
          </li>
        </ul>
      </div>
      <div class="remove flexbox">
        <button class="delete" @click="deleteTodos($event)">
          Remove Done Todos
        </button>
      </div>
      <div class="flexbox todo">
        <h2>Your Todos</h2>
        <ul class="ul2">
          <li class="li2" v-for="todo of todos">
            <input
              class="list-1"
              type="checkbox"
              v-on:change="changeDoneState(todo.id)"
              v-bind:checked="todo.done"
              v-bind:id="'todo-${todo.id}'"
            />
            <label for="list-1"></label>
            {{ todo.description }}
          </li>
        </ul>
      </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
