*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #ef476f;
  color: white;
  text-shadow: 3px 3px 0 #20b2aa, 5px 5px 0 #f69c00;
  padding: 2.5rem;
  font-size: 25px;
}

body {
  background-color: lightgrey;
}

.add {
  font-size: 20px;
  height: 40px;
  width: 80px;
  color: white;
  background-color: #20b2aa;
  border: lightseagreen;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px #ff3908;
}

.add:active {
  box-shadow: none;
  border: 2px solid #f69c00;
}

.input {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.description {
  width: 100%;
  margin-left: 70px;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  color: black;
}

h2 {
  padding-top: 30px;
  margin-right: 30px;
}

.remove {
  margin-right: 80px;
  font-size: 20px;
}

.delete:active {
  box-shadow: none;
  border: 2px solid #f69c00;
}

.delete {
  color: white;
  font-size: 20px;
  background-color: #20b2aa;
  border: lightseagreen;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px #ff3908;
  height: 40px;
  width: 210px;
  margin-left: 30px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.radio {
  list-style: none;
  font-size: 25px;
  margin-right: 165px;
}

.li2 {
  list-style: none;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
  width: 300px;
  height: 40px;
}

.li2:active {
  box-shadow: 2px 3px #ef476f;
  border: 2px solid #f69c00;
  text-decoration: line-through;
}
.add-ul {
  background-color: red;
  flex-direction: column;
  align-content: center;
}

.round {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  accent-color: lightseagreen;
  border: none;
}
